*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

ul, li{
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}






