
.footer {
    font-family: var(--font);
    background-color: var(--color--dark-violet);
    text-align: center;
    padding: 5rem 0 4rem 0;
}

.footer__Nav {
    display: flex;
    justify-content: center;
    margin-bottom: 4.2rem;
    gap: 5rem;
}

.footer__NavItem {
    color: var(--color--white);
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.credits {
    color: var(--color--white);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.footer__NavItem:hover {
    color: var(--color--pink);
    transition: ease-in-out 0.3s;
}
