.feature-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-white);
}

.feature-title {
    font-family: var(--font);
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 3.25rem; 
    letter-spacing: -0.025rem;
    margin: 6rem 0 4rem 0;
    color: var(--color--ver-dark-violet);
}

.feature-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
    gap: 5.2rem;
    flex-wrap: wrap;
}

.feature-card{
    width: 16.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-card-title {
    font-family: var(--font);
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: var(--color--ver-dark-violet);
    max-width: 8.7rem;
}

.feature-card-text {
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
    text-align: center;
    color: var(--color--grey);
}

.feature-icon{
    width: 4rem;
    height: 4rem;
}