
.hero__container {
    background-color: var(--color--dark-violet);
    color: var(--color--white);
    font-family: var(--font);
    display: flex;
    flex-direction: row;
    padding: 10rem;
    align-items: center;
    justify-content: center;
}

.hero__img {
    max-width: 16rem;
    max-height: 46rem;
}

.hero__content-container {
    margin-left: 7.5rem;
    max-width: 29rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero__subtitle {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.0183rem;
    margin-bottom: 1.85rem;
}

.hero__title {
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.375rem;
    letter-spacing: -0.0625rem;
    margin-bottom: 2.5rem;
}

.hero__text {
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 3.35rem;
    max-width: 25rem;
}

.form__btn{
    padding: 1rem 1.8rem;
}
